/* Modal Structure */

html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    margin: 0;
    min-height: 500px;
    padding: 0;
    min-width: 350px;
}

.main {
    overflow: hidden;
    width: 400px;
    max-height: 600px;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link,
a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

.modal-content {
    padding: 0 15px;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 10px;
    margin-left: 30px;
}

.header_img_logo {
    padding-top: 10px;
    margin-left: 40%;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}


.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}