<!DOCTYPE html>
<html data-ng-app="TravelBuddyChromeExtension" data-ng-csp>
  <head>
    <title>Travel Buddy Trip Items Manager</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="css/popup.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/form_content.css" media="screen" />
    <script type="text/javascript" data-src-elem="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" data-src-elem="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/pageController.js"></script>

  </head>

  <body>
    <div>
      <h1 class="logo">
        <img class="logo-icon" src="./images/temp_logo.png" />Travel Buddy Agg [+]
      </h1>
    </div>
    <div class="modal-content" data-ng-controller="PageController" data-ng-init="userTrips(1)">
      <div>{{title}}</div>
      <div>{{url}}</div>
      <div>{{flightDetails}}</div>

      <div class="form-style-5" >
        <form>
          <fieldset>
            <legend><span class="number">1</span>Your Trips</legend>
            <select ng-model="trip.name" ng-options="trip.name for trip in trips"></select>

            <legend><span class="number">2</span>Your Trip Places</legend>
            <select ng-model="tripPlace.name" ng-options="tripPlace.name for tripPlace in tripPlaces"></select>

          </fieldset>
          <input type="submit" value="GET INFO" data-ng-click="scrapeFlightInfo()"/>
        </form>
      </div>
    </div>
    <div class="modal-icons">
      <div class="flex-container">
        <div class="flex">
        </div>
      </div>
    </div>
  </body>
</html>
